name: Check package version
on:
  push:
    tags:
      - "v*"

jobs:
  checkVersion:
    name: Check package version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 3
      - name: Check package version
        uses: technote-space/package-version-check-action@gh-actions
        with:
          GITHUB_TOKEN: ${{ secrets.GIT_PAT_TOKEN }}
          TEST_TAG_PREFIX: test/
          BRANCH_PREFIX: release/
