name: Lint
on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
      - name: Node
        uses: actions/setup-node@v2.1.1
        with:
          node-version: 12
      - run: npm ci
      - run: npm run lint
