name: Publish Package NPM
on: push

jobs:
  publish:
    name: Publish Package
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'update package version')"
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install Package dependencies
        run: npm install
      - name: Build
        run: npm build
      - name: Publish
        run: |
          npm config set //registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN
          npm publish
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
